@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź email w celu dokończenia procesu odzyskiwania hasła.
</p>

